.footerContainer {
    margin-top: 4em;
    padding: 5px 10px;
    text-align: center;
  }

  a.social {
    margin: 0 .5rem;
    transition: transform 300ms;
    display: inline-block;
    color: #D3D3D3;
  }

  a.social:hover {
    transform: translateY(-4px);
  }

  .builtWith {
    font-size: .5em;
  }

  .love {
    color:red;
  }
